body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/guessing-numbers.avif');
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
    box-shadow: 3px 8px 10px 14px #888888;
    padding: 2rem;
    background-color: #ffe6a7;

}

.header_container {
    margin-bottom: 3rem;
    border: 3px solid #a2d2ff;
    padding: 1rem;
    
}

h1 {
    text-align: center;
}

.select {
    width: 10rem;
}

button {
    transition: all .2s;
}

button:hover {
    background-color: #b5838d;
    box-shadow: 3px 5px 7px black;
}

#submit:hover {
    background-color: #b5838d;
    box-shadow: 3px 5px 7px black;
}