body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/guessing-numbers.avif');
}

.container {
    
    top: 2rem;
    display: flex;
    opacity: .85;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
    box-shadow: 3px 8px 10px 14px #888888;
    padding: 2rem;
    background-color: #ffe6a7;

}

@media (max-width: 1100px) {
    .container {
        margin-top: 4rem;
        
        
    }
}

.header_container {
    margin-bottom: 3rem;
    padding: 1rem;
    
}

.main-container {
    display: flex;
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column-reverse;
        
    }
}

.guessing-options_container {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    .guessing-options_container {
        margin-left: 0%;
        
    }
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, #003049, #3a86ff);
    -webkit-background-clip: text;
    color: transparent;
}

.select {
    width: 10rem;
}

button {
    transition: all .2s;
}

button:hover {
    background-image: linear-gradient(to right, #003049, #3a86ff);
    color: aliceblue;
    box-shadow: 1px 2px 2px black;
    
}

#submit,#guess-btn {
    padding: 0px 2rem;
}

#submit:hover {
    background-image: linear-gradient(to right, #003049, #3a86ff);
    box-shadow: 1px 2px 2px black;
    color: aliceblue;
}

#guess-btn:hover {
    background-image: linear-gradient(to right, #003049, #3a86ff);
    box-shadow: 1px 2px 2px black;
    color: aliceblue;
}

#guess-number {
    margin-bottom: 1rem;
}

#restart {
    width: 12rem;
    border-radius: 15px;
    margin: 2rem;
}

.sad-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    /* background-color: aqua; */
}



input::placeholder {
    text-align: center;
}

@media (max-width: 1000px) {
    .select-numbers {
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width: 1000px) {
    #submit {
        margin-top: 5px;
        
    }
}

@media (max-width: 1000px) {
    .container {
        width: 80%;
        
    }
}

